:root{
    --main-color : #dd8e4a;
}  
*
{
    box-sizing : border-box;
}
body 
{
    font-family : 'open-sans'  , 'sans-serif';
}
/* setting box */
.settings-box 
{
    position : fixed ; 
    left : -250px ; 
    top : 0 ; 
    min-height : 100vh;
    background-color : #FFF ;
    z-index : 100;
    width : 250px;
    transition : .3s;
    border : 1px solid #EEE;
}
.settings-box .toggle-settings
{
    position : absolute ;
    top : 100px;
    left : 249px;
    background-color : #FFF;
    text-align : center;
    font-size :20px;
    cursor : pointer;
    padding : 8px;
}
.settings-box .toggle-settings .fa-cog
{
    padding :5px ;
    color : var(--main-color);
}
.settings-box.open
{
    left : 0px;
}
.settings-box .option-box .colors-list
{
    text-align : center;
    padding : 0;
    margin :10px 0 0 ;
    
}
.settings-box .setting-container .option-box  h4
{
    margin : 0 ; 
    color : #666;
    font-size : 19px;
}
.settings-box .setting-container .option-box .colors-list li
{
    list-style : none;
    width : 20px;
    height : 20px;
    background-color : #333;
    border-radius : 50%;
    cursor : pointer;
    opacity : .5;
    display : inline-block;
    border : 1px solid #FFF;
}
.settings-box .setting-container .option-box
{
    padding : 18px;
    margin :    10px;
    text-align : center ;
    background-color : #EEE;
}
.settings-box .setting-container .option-box .colors-list li:first-child
{
    background-color : #dd8e4a;
}
.settings-box .setting-container .option-box .colors-list li:nth-child(2)
{
    background-color : #b52642;
}
.settings-box .setting-container .option-box .colors-list li:nth-child(3)
{
    background-color : #43ddd1;
}
.settings-box .setting-container .option-box .colors-list li:nth-child(4)
{
    background-color : #b7860b;
}
.settings-box .setting-container .option-box .colors-list li:nth-child(5)
{
    background-color : #8b0000;
}


.settings-box .setting-container .option-box .colors-list li.active
{
    opacity : 1;
    border : 3px solid #FFF;
}
.settings-box .setting-container .option-box .yes,
.settings-box .setting-container .option-box .no
{
    width : 50px;
    background-color : var(--main-color);
    color : #FFF ;
    margin-top : 18px;
    display : inline-block;
    font-weight : bold;
    font-size : 12px;
    padding : 6px 10px;
    border-radius : 4px;
    opacity : .5;
    cursor : pointer;
    
}
.settings-box .setting-container .option-box span.active 
{
    opacity : 1;
}
.settings-box .setting-container .option-box .yes
{
    background-color : var(--main-color);
}
.settings-box .setting-container .option-box .no
{
    background-color :var(--main-color);
}
.reset-option
{
    opacity : 1;
}
.settings-box .reset-option
{
    background-color : #ed360a;
    border : none;
    width : 178px;
    margin : 10px auto;
    display : block;
    color : #FFF;
    padding : 10px;
    border-radius : 10px;
    font-weight : bold;
    cursor : pointer;
    
    
}


/*landing page*/
.landing-page
{
    min-height : 100vh;
    background-image : url("../images/309439.jpg");
    background-size : cover;
    position : relative;
}
.landing-page .overlay 
{
    background-color : rgba(0,0 , 0, 0.60);
    position : absolute ;
    width : 100%;
    height : 100%;
    left : 0 ; 
    top :0;
    z-index : 1;
    
}
.landing-page .container
{
    position : relative;
    z-index : 1000;
}
.header-area
{
    position: relative;
    z-index : 2;
    color : white;
    display : flex;
    /*padding :15px;*/
}
.header-area .logo
{
    width : 300px ;
    padding : 10px;
    font-weight : bold;
    font-size : 26px;
    color : var(--main-color);
}
.links-container
{
    width : 100%;
    text-align : right ;
    
    
}
.header-area .links
{
    list-style : none;
    text-align : right ;
    width : 100%;
    padding-left : 0;  
}
.header-area .links li
{
    display : inline-block;
    margin-left : 10px;
  
    
}
.header-area .links li a
{
    text-decoration : none;
    color : white;
    transition : .3s 
}
.header-area .links li a:hover,
.header-area .links li a.active
{
    color : var(--main-color);
}
.header-area .toggle-menu
{
    width : 40px;
    background: none;
     border : none;
    margin-top : 15px;
    display : none;
    position : relative; 

}
.header-area .toggle-menu.menu-active:before
{
    content :"";
    border-width : 10px;
    border-style : solid;
    border-color :transparent transparent #FFF transparent;
    position : absolute;
    bottom : -25px;
    left : 10px;
    
}
.header-area .toggle-menu:focus{
    outline : none;
}
.header-area .toggle-menu span
{
    display : block;
    width : 100%;
    background-color : #FFF;
    height : 4px;
    margin-bottom : 4px;
    cursor :  pointer ;
    
}
.introduction-text
{
    position : absolute;
    left : 50%;
    top : 50%;
    transform : translate(-50% , -50%);
    z-index : 2;
    color : white;
    text-align : center ;
   width : 90%;
}

.introduction-text h1 span
{
    color : var(--main-color);
}
.introduction-text h1
{
    font-size : 50px;
}
@media (max-width : 575px)
{
    .introduction-text h1
    {
        font-size : 26px;
    }
}
.introduction-text p
{
    line-height : 1.5;
    font-size : 20px;
    margin : 0;
}
@media (max-width : 991px)
{
    .header-area .links
    {
        display :none;
    }
    .header-area .links.open
    {
        background-color : #FFF;
        position : absolute;
        top : 50px;
        left : 0;
        display : block;
        width : 100%;
        border-radius : 5px;
        text-align : center;
        line-height : 1.5;
    }
    .header-area .links.open li a
    {
        color : var(--main-color);
        font-weight : bold;
    }
    .header-area .links.open li
    {
         display : block;
         margin : 0;
         padding : 8px;
        
    }
    .header-area .links.open li:not(last-of-type)
    {
        border-bottom : 1px solid #EEE;
    }
    .header-area .toggle-menu
    {
        display : inline-block;
    }
}
/* Start Nav Bullets*/
.nav-bullets
{
    position : fixed;
    right : 0;
    top : 50%;
    transform : translateY(-50% );
    width : 40px;
    z-index : 1000;
}
.nav-bullets .bullet
{
    width : 20px;
    height : 20px;
    border : 3px solid var(--main-color);
    margin : 10px auto;
    border-radius :50%;
    cursor : pointer;
    z-index : 1000;
    position : relative;
  
}
.nav-bullets .bullet:hover .tooltip{
    display : block;
}
.nav-bullets .bullet .tooltip
{
    background-color : var(--main-color);
    width : 120px;
    color : #FFF;
    padding : 4px 10px;
    position : absolute ;
    top: -5PX;
    right: 24px;
    cursor : default;
    pointer-events : none;
    display :none;
    
}
.nav-bullets .bullet .tooltip:before
{
    
    content : '';
    border-style : solid;
    border-width : 10px;
    border-color : transparent transparent transparent var(--main-color);
    height : 0;
    width :0;
    position : absolute;
    right : -20px;
    transform : translateY(-50%);
    top : 50%;
    
}
/* End Nav Bullets */
/*landing page */

.container
{
    padding-left : 15px;
    padding-right : 15px;
    margin : auto ;
}
/* start about us */
.about-us
{
    padding-top : 50px;
    padding-bottom : 50px;
    display : flex;
}
@media (max-width : 767px )
{
    .about-us 
    {
        display : block;
        text-align : center;
    }
}
  
.about-u1 .info-box 
{
    flex : 3;
    padding : 30px;
}
.about-us .info-box h2
{
    font-weight : bold;
    font-size :     40px;
    color : var(--main-color);
}
.about-us .info-box p
{
   line-height : 1.8;
    color : #777;
    font-size : 19px;
    margin :0;
}
.about-us .image-box
{
    flex : 1;
   
}
.about-us .image-box img
{
    text-align : center ;
    width : 500px;
}

/* End about us */
/* start Our Skills*/
.skills
{
    padding-top : 50px;
    padding-bottom : 50px; 
    background-color : #EEE;
}
.skills h2
{
    font-weight : bold;
    font-size :     40px;
    color : var(--main-color);
    margin : 0 0 50px;
    text-align : center;
    
}
.skills .skill-box
{
    background-color :#FFF;
    display : flex;
    margin-bottom : 15px;
    padding : 15px;
}
@media (max-width : 767px )
{
    .skills .skill-box 
    {
        display : block;
      
    }
}
.skills .skill-box .skill-name
{
  font-weight : bold ;
    width : 130px;
    text-align : center;
    line-height : 30px;
    
}
@media (max-width : 767px )
{
    .skills .skill-box .skill-name
    {
        width : 100% ;
        margin-bottom : 10px;
      
    }
}
.skills .skill-box .skill-progress 
{
    height : 30px;
    width : 100%;
    background-color : #eaeaea;
    border-radius : 8px;
    position : relative;
    
}
.skills .skill-box .skill-progress span
{
    left : 0;
    top : 0;
    position : absolute;
    width : 0;
    background-color : var(--main-color);
    height : 30px;
    border-radius : 8px;
    transition : all .3s ;
}
/* End Our Skills*/
/*start Gallery */
.gallery 
{
   padding-top : 50px;
   padding-bottom : 50px;
    text-align : center;
}

.gallery h2
{
    font-weight : bold;
    font-size :     40px;
    color : var(--main-color);
    margin : 0 0 50px;
    text-align : center; 
}

.gallery .images-box
{
   text-align : center; 
}
.gallery .images-box img
{
    width : 200px;
    height : 100px;
    padding : 3px;
    background-color : #F6F6F6;
    border : 1px solid #CCC;
    margin : 5px;
    cursor : pointer;
}
.popup-overlay
{
    position : fixed ;
    background-color : rgba(0 , 0 , 0 , .7);
    left : 0 ; 
    top : 0;
    width : 100% ; 
    height : 100%;
    z-index : 1000;
}
.popup-box
{
    position : fixed ; 
    left : 50%;
    top : 50%;
    transform : translate(-50% , -50%);
    background-color : #FFF;
    border : 1px solid #CCC;
    padding : 20px;
    z-index : 1001;
}
.popup-box img
{
    max-width : 100%;
}
.popup-box h3
{
    font-weight : bold;
    text-align : center;
    margin : 0 0 20px ;
    color : var(--main-color);
}
.close-button
{
    position : absolute;
    top : -15px;/*3la hssab lpopup box*/
    right : -15px;
    background-color : var(--main-color);
    width : 40px;
    height : 40px;
    line-height :40px;
    text-align : center;
    font-size : 30px;
    color : #FFF;
    cursor : pointer;
    font-weight : bold;
    font-family : Arial , Tahoma;
    border-radius : 50%;
}
/* End Gallery */
/* Start Timeline */
.timeline
{
  
    padding-top : 50px;
    padding-bottom : 50px; 
    background-color : #EEE;  
}
.timeline .timeline-content
{
    position : relative ;
    overflow : hidden ;
    
}
.timeline .timeline-content:before
{
    content : '';
    width : 2px;
    height : 100%;
    background-color : var(--main-color);
    position : absolute;
    left : 50%;
    margin-left : -1px;
    top : 0
    
    
}
.timeline .timeline-content .year
{
    margin : 20px auto;
    background-color : var(--main-color);
    position : relative;
    z-index : 2;
    border-radius : 4px ;
    text-align : center;
    padding : 2px 5px;
    font-weight : bold;
    color : #FFF;
    width : 90px;
    
}
.timeline .timeline-content .left,
.timeline .timeline-content .right
{
    width : calc(50% - 25px);
    margin-bottom : 40px;
    position : relative;  
}
@media (max-width : 767px)
{
    .timeline .timeline-content .right,
    .timeline .timeline-content .left
    {
      width : 100%;
      margin-bottom : 10px;
    }
    .timeline .timeline-content .right:before,
    .timeline .timeline-content .left:before
    {
        display : none;
    }
    .timeline .timeline-content .left .content:before,
    .timeline .timeline-content .right .content:before
    {
        display : none;
    }
}
.timeline .timeline-content .left
{
    float : left;
}
.timeline .timeline-content .left:before
{
    content :" ";
    height : 14px;
    width : 14px;
    background-color:#FFF;
    border : 3px solid var(--main-color);
    position : absolute;
    right : -35px;
    border-radius : 50%;
    top : 20px;
    
}
.timeline .timeline-content .right
{
    float : right;
}
.timeline .timeline-content .right:before
{
    content :" ";
    height : 14px;
    width : 14px;
    background-color:#FFF;
    border : 3px solid var(--main-color);
    position : absolute;
    left : -35px;
    border-radius : 50%;
    top : 20px;
    
}
.timeline .timeline-content .content
{
    padding : 20px;
    background-color : #FFF;
}
.timeline .timeline-content h3
{
    font-weight : bold;
    color : var(--main-color);
    margin : 0 0 10px;
}
.timeline .timeline-content p
{
    color : #666;
    margin : 0;
    line-height : 1.7;
}
.clearfix
{
    clear : both;
}
.timeline .timeline-content .left .content:before
{
    content : '';
    border-style : solid;
    border-width : 10px;
    border-color : transparent transparent transparent #FFF;
    height : 0;
    width :0;
    position : absolute;
    right : -20px;
    
}
.timeline .timeline-content .right .content:before
{
    content : '';
    border-style : solid;
    border-width : 10px;
    border-color : transparent #FFF transparent transparent ;
    height : 0;
    width :0;
    position : absolute;
    left : -20px;
    
}
/* End Timeline */
/*Start Our Dection */
.features
{
    padding-top : 80px;
    padding-bottom : 100px;
    overflow : hidden
}

.features h2
{
    font-weight : bold;
    font-size : 30px;
    color : var(--main-color);
    margin : 0 0 60px;
    text-align : center;
}
.features .feat-box
{
    width : calc( 100% / 3);
    float : left ;
    text-align : center;
    margin-bottom : 20px;
    
}
@media ( max-width : 991px)
{
    .features .feat-box
    {
        width : calc(100% / 2);
    }
}
@media ( max-width : 557px)
{
    .features .feat-box
    {
        width : calc(100% );
    }
}


.features  .feat-box img
{
    width : 96px;
    
}
.features  .feat-box h4
{
    font-size : 22px;
    margin : 15px 0 42px;
    position : relative;
}
.features  .feat-box h4:before
{
    content : "";
    width : 40px;
    height : 4px;
    background-color : var(--main-color);
    position : absolute;
    left : 50%;
    margin-left : -20px;
    bottom : -22px;
}
.features .feat-box p
{
    width : 80%;
    line-height : 1.6;
    margin : 0 auto;
    color : #777;
    
}
/*End Our Section */
/* Start Testimonials*/
.testimonials
{
    min-height : 600px;
    position : relative;
    padding-top : 60px;
    padding-bottom : 50px;
    
}
.testimonials:before
{
    content : " ";
    width : 50%;
    position : absolute;
    left : 0;
    top : 0;
    background-color : var(--main-color);
    height : 100%;
    
}
.testimonials:after
{
    content : " ";
    width : 50%;
    position : absolute;
    right : 0;
    top : 0;
    background-color : black;
    height : 100%;
}
.testimonials h2
{   font-weight : bold;
    font-size : 30px;
    color : #FFF;
    margin : 0 0 60px;
    text-align : left;
    position : relative;
    z-index : 2;
    
}
@media (max-width : 767px)
{
    .testimonials h2
    {
        text-align : center;
        
    }
}
.testimonials .ts-box
{   position : relative;
    z-index : 2;
    width : calc(98% / 3);
    float : left;
    background-color : #FFF;
    padding : 20px;
    /*font-size : 22px;*/
    
}
@media (max-width : 767px)
{
    .testimonials .ts-box
    {
        width : 100%;
        float : none ;
        margin-bottom : 10px;
    }
}

.testimonials .ts-box:not(:last-of-type)
{
    margin-right : 1%;
}
.testimonials .ts-box > p
{
    margin : 0 0 20px;
    line-height : 1.6;
    font-size : 18px;
    color : #777;
    font-style : italic;
    
}
.testimonials .ts-box .person-info
{
    overflow : hidden;
}
@media (max-width : 991px)
{
    .testimonials .ts-box .person-info
    {
        text-align : center;
        overflow : visible;
    }
    
}
.testimonials .ts-box .person-info img
{
    width : 100px;
    height : 100px;
    float : left;
    border-radius : 50%;
    margin-right :20px;
}
@media (max-width : 991px)
{
    .testimonials .ts-box .person-info img
    {
        float : none;
        margin-right : 0;
        
        
    }
}
.testimonials .ts-box .person-info h4
{
    margin : 0 0 5px; 
    font-family : italic;
}
.testimonials .ts-box .person-info p
{
    color : #777;
    margin : 0;
    font-family : italic;
}
    

/* End Testimonials */
/* Start Contact Us */
.contact 
{
    min-height : 600px;
    background-image : url("../images/map2.jpg");
    background-size : cover; 
    padding-top : 80px;
    padding-bottom : 80px;
    position : relative;
    
}
.contact .overlay
{
    position : absolute ; 
    top : 0 ; 
    left : 0 ;
    width : 100% ; 
    height : 100%;
    background-color : rgba(255 , 255 , 255 , .6);   
}
.contact .container
{
    position : relative;
    z-index : 2;
    /*margin : auto;*/
}
.contact h2
{
    font-weight : bold;
    font-size :     40px;
    color : var(--main-color);
    margin : 0 0 60px;
    text-align : center; 
}
.contact form
{
    overflow : hidden;
    max-width : 800px;
    margin : auto;
}
.contact form .left 
{
    float : left ;
    width : 49%;
}
.contact form .right
{
    float : right ;
    width : 49%;
}

@media( max-width : 767px )
{
    .contact form .right,
    .contact form .left
    {
        width : 100% ;
        float :none;
        
    }
}

.contact form input:not([type="submit"]),
.contact form textarea
{
    display : block;
    padding : 10px;
    width : 100%;
    margin-bottom : 15px;
    border : 1px solid #CCC;
    background-color : rgba(218,218,218,0.19);
}
.contact form input:not([type ="submit"]):focus,
.contact form textarea:focus
{
    outline : 1px solid var(--main-color);
}
.contact form input
{
    height : 40px;
}
.contact form textarea
{
    height : 150px;
}
.contact form input[type="submit"]
{
    padding : 10px;
    width : 100%;
    border-color : transparent ; 
    background-color : var(--main-color);
    color : #FFF;
    cursor : pointer;
    font-weight : bold;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder
{
    opacity : 0;
    transition : .3s;
}
.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder
{
    opacity : 0;
    transition : .3s;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder
{
    opacity : 0;
    transition : .3s;
}
/* Start Footer */
.footer
{
    background-color :#333;
    color : #EEE;
    padding : 20px;
    text-align : center;
    font-size : 20px;
}
/* End Footer */

/* Start Grid system */
@media (min-width : 576px)
{
    .container{
        max-width : 540px;
    }
}
@media (min-width : 768px)
{
    .container{
        max-width : 720px;
    }
}
@media (min-width : 992px)
{
    .container{
        max-width : 996px;
    }
}
@media (min-width : 1200px)
{
    .container{
        max-width : 1140px;
    }
}

/* End Grid System */





















/* End Contact Us */